.DS_Store
.idea/
*.iml
.env/
__pycache__/

# clojure and leiningen
/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

# Calva hidden directories
.clj-kondo/
.lsp/
.calva/
